<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gui.mapper.SysRoleMapper">
  
  <select id="selectById" parameterType="Integer" resultType="com.gui.entity.SysRole">
  	select * from sys_role where id = #{id}
  </select>
  
  <insert id="insertRole" parameterType="string">
  	insert into sys_role (name) values (#{name})
  </insert>
  
  <update id="updateRole" parameterType="com.gui.entity.SysRole">
    update sys_role set name = #{name} where id = #{id}
  </update>
  
</mapper>