<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>员工信息表</title>
  <meta name="renderer" content="webkit">  <!-- webkit设置双核浏览器兼容 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- 添加layui.js代码 -->
  <script th:src="@{/js/layui/layui.js}" charset="utf-8"></script>
  <!-- 添加jQuery支持加载 -->
  <script th:src="@{js/jquery-3.3.1.js}"></script>
  
  <link rel="stylesheet" th:href = "@{/js/layui/css/layui.css}">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
<div class="layui-header">
    <div class="layui-logo">员工信息管理</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <span sec:authentication="name"></span>
        </a>
      </li>
      <li class="layui-nav-item"><a href="logout">退出</a></li>
    </ul>
  </div>

	<div class="layui-side layui-bg-black">
<div class="layui-side-scroll">
      		<ul class="layui-nav layui-nav-tree"  lay-filter="test">
      				<li class="layui-nav-item"><a href="index.html">首页</a></li>
      				<li class="layui-nav-item layui-nav-itemed">
      					<a href="javascript:;">通知公告</a>
						<dl class="layui-nav-child">
      						<dd><a href="announcement.html">全部公告</a></dd>
      						<dd><a href="myAnnouncement.html">我发布的</a></dd>
   					 	</dl>
   					 </li>
				<div sec:authorize="hasRole('ADMIN')">
  					<li class="layui-nav-item"><a href="UserSalary.html">员工信息表</a></li>
  				</div>
  				<div sec:authorize="hasRole('ADMIN')">
  					<li class="layui-nav-item"><a href="userInfo.html">用户信息表</a></li>
  				</div>
      		</ul>
</div>
</div>

	<div class="layui-body">
	
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
          <legend>员工信息表</legend>
    </fieldset>

<form target="test" class="layui-form" lay-filter="formTest">
 <div class="layui-input-inline">
	 <input id="search" name="search" type="text" placeholder="请输入工号..." class="layui-input">
</div>
     <button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
     <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>
</form >
<iframe id="id" name="test" style="display:none;"></iframe>    

<table class="layui-hide" id="test" lay-filter="tab"></table>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
     <a href="insert.html"><button type="button" class="layui-btn layui-btn-sm">新增员工</button></a>

  </div>
</script>

<script type="text/html" id="barDemo">
	 <a th:href="update.html" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a name="delete" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除 </a>
</script>
</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 --> 
	<script>
	
layui.use(['upload', 'laypage', 'jquery', 'layer', 'table'], function(){
	var $ = layui.jquery;
	var layer = layui.layer;
	var upload = layui.upload;
	var laypage = layui.laypage;
    table = layui.table;
    var table
	var tableIns
    tableIns = table.render({
    elem: '#test' //对应table id
    ,url:'/salaryLayui' //数据接口
    ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
    ,defaultToolbar: ['filter', 'exports', 'print'] //默认工具栏
    ,title: '用户数据表'
    ,layEvent: 'LAYTABLE_TIPS'     //监听头部工具栏事件
    ,page:{
    	limit: 5   //默认十条数据一页
    	,limits: [5, 10, 20, 50, 100,15000]  //数据分页条
    }
    ,icon: 'layui-icon-tips'
    ,cols: [//表头
        [
      {type: 'checkbox', fixed: 'left'}
      ,{id: 'id', field:'id', title:'工号', width:100, fixed: 'left', sort: true}
      ,{id: 'name', field:'name', title:'姓名', width:180, edit: 'text'}
      ,{id: 'sex',field:'sex', title:'性别', width:180, edit: 'text', templet: function(d){if(d.sex == "1"){return '男'}else{return '女'}}}
      ,{id: 'time', field:'time', title:'工龄',width:180}
      ,{id: 'birth', field:'birth', title:'生日', width:240}
      ,{id: 'salary', field:'salary', title:'工资', width:180, sort: true}
      ,{id: 'home', field:'home', title:'住址', width:250}
      ,{ title:'操作', toolbar: '#barDemo', width:180}
    ]
    ]
  });
    
    layui.use('form', function(){
  	  var form = layui.form;
  	  var data1 = form.val("formTest");
  	  //监听提交
  	  form.on('submit(formDemo)', function(data){
  		  tableIns.reload({
  			  where: {           //设定异步数据接口的额外参数
  				   type : search.value
  				  }
  				});
  	    //layer.msg(JSON.stringify(checkStatus('id')));
  	    //return false;
  	  });
  });

    table.on('tool(tab)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
	    var data = obj.data; //获得当前行数据
	    var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
	    if(layEvent === 'del'){ //删除
	      layer.confirm('真的删除行么', function(index){   
	    $.ajax({
   	    type:"post",
   	    url: "/delete/"+data.id,
   	    dataType: "json",
           data:JSON.stringify(obj),
           contentType : "application/json",
           async:false,
           success: function (data) {
        	   obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
  	           layer.close(index);
  	         //向服务端发送删除指令
               console.log(data.id)
           },
           error: function (e) {
               console.log(e)
           }
	})
});
}
});
	
upload.render({
    elem: '#test3'
    ,url: '/uploadFile' //改成您自己的上传接口
    ,accept: 'file' //普通文件
    ,done: function(res){
      layer.msg('导入成功');
      console.log(res);
    }
  })
});

</script>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>